.parra {
    font-size: 20px;
    font-family: 'Courgette', cursive;
    color: #220664;
}

.color{
    background-color: rgba(248, 247, 198, 0.979);
}

.color2{
    background-color: azure;
}

.color3{
    background-color: bisque;
}
 .color4{
     background-color: blanchedalmond;
 }
 
.footer1{
    text-align: center;
    background-color: #ece9f3;
}

.title2{
    font-weight: bold;
}

.pag2{
    font-weight: bold;
    color: firebrick;
}

.text2{
    font-weight: italic;
    color: black;
    font-family: 'Sriracha', cursive;
}

.subtitle{
    font-weight: bold;
    color: crimson;
}

.title3{
    font-weight: bold;
    color: rgb(14, 1, 1);
}

.text3{
    color: rgb(3, 51, 3);
    font-family: 'Itim', cursive;
    font-weight: italic;
}